# Игнорирование конфиденциальных файлов
README.md
anon.session-journal
client.session
keys.py
__pycache__/
my_session.session
bot.session
forward_bot.session
poetry.lock
anon.session
*.swp
data/
.env
results/
bert_model.pkl
bert_tokenizer.pkl
posts_data.csv
bert_best_model.pkl
randfor_model.pkl
randfor_vectorizer.pkl
cat_best_model.pkl
cat_vectorizer.pkl
posts_data.csv
tdlib/
regular_messages.csv
advertisements.csv
tdlib_auth.log
hog_visualizations/
catboost_info/
best_hog_model.pkl
best_resnet34.pth
hog_params.pkl
model/
result_torch_text/
temp_best_model_trial_14.pth