# Игнорирование конфиденциальных файлов
README.md
anon.session-journal
client.session
keys.py
__pycache__/
my_session.session
bot.session
forward_bot.session
poetry.lock
anon.session
*.swp
pyproject.toml
data/
.env
last_message_ids.json
downloaded_media/
backend/.env
backend/anon.session
frontend/node_modules/
frontend/static/
session_name.session
session_name.session-journal
randfor_model.pkl
randfor_vectorizer.pkl
results/
bert_best_model.pkl
bert_tokenizer.pkl
tdlib/
classifications.csv